.title {
  font-weight: 800;
  margin-top: 0px;
  position: relative;
  margin: 15px 0 15px;
  padding: 0 0 10px;
  font-size: 26px;
  font-style: normal;
}

.title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  display: inline-block;
  background: linear-gradient(
    to right,
    rgba(28, 202, 162, 1) 0%,
    rgba(49, 209, 129, 1) 100%
  );
}

.title span {
  color: #2eca7f;
}
