#skills {
  margin-bottom: 30px;
}

#skills h3 {
  font-size: 21px;
  margin: 5px 0 25px;
  color: #212121;
  font-weight: 700;
  line-height: 1.5em;
}

#skills h3 span {
  color: #2eca7f;
}

.skills-info {
  margin-bottom: 30px;
}

.skills-info h4 {
  font-size: .8em;
  line-height: 1.1em;
  position: relative;
  margin: 0 0 5px;
  font-weight: 700;
  color: #212121;
}

.skill-container {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 12px;
  margin-bottom: 12px;
  width: 100%;
}

.skill-percentage {
  background-color: #2eca7f;
  height: 10px;
  padding: 0;
}

.skill-percentage.skill-5 {
  width: 5%;
}
.skill-percentage.skill-10 {
  width: 10%;
}
.skill-percentage.skill-15 {
  width: 15%;
}
.skill-percentage.skill-20 {
  width: 20%;
}
.skill-percentage.skill-25 {
  width: 25%;
}
.skill-percentage.skill-30 {
  width: 30%;
}
.skill-percentage.skill-35 {
  width: 35%;
}
.skill-percentage.skill-40 {
  width: 40%;
}
.skill-percentage.skill-45 {
  width: 45%;
}
.skill-percentage.skill-50 {
  width: 50%;
}
.skill-percentage.skill-55 {
  width: 55%;
}
.skill-percentage.skill-60 {
  width: 60%;
}
.skill-percentage.skill-65 {
  width: 65%;
}
.skill-percentage.skill-70 {
  width: 70%;
}
.skill-percentage.skill-75 {
  width: 75%;
}
.skill-percentage.skill-80 {
  width: 80%;
}
.skill-percentage.skill-85 {
  width: 85%;
}
.skill-percentage.skill-90 {
  width: 90%;
}
.skill-percentage.skill-95 {
  width: 95%;
}
.skill-percentage.skill-100 {
  width: 100%;
}