#testimonials {
  margin-bottom: 30px;
}

#testimonials h3 {
  font-size: 21px;
  margin: 5px 0 25px;
  color: #212121;
  font-weight: 700;
  line-height: 1.5em;
}

.testimonials {
  width: 100%;
}

.testimonial-item {
  margin-bottom: 30px;
  width: 100%;
}

.testimonial-credits {
  display: table;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.testimonial-picture {
  display: table-cell;
  width: 80px;
  height: 80px;
  background-color: #fcfcfc;
  border-radius: 100px;
  margin: 0;
  z-index: 1;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.testimonial-picture img {
  width: 100%;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  border-radius: 100px;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.testimonial-author-info {
  display: table-cell;
  position: relative;
  padding-left: 12px;
  vertical-align: top;
  text-align: left;
}

.testimonial-author {
  display: inline-block;
  font-size: 15px;
  font-family: roboto,Helvetica,sans-serif;
  color: #212121;
  margin: 0;
  font-weight: 400;
}

.testimonial-firm {
  font-size: 10px;
  line-height: 1.5em;
  color: #9e9e9e;
  margin: 0;
  text-transform: uppercase;
  font-style: italic;
  font-weight: lighter;
}

.testimonial-content {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-content .testimonial-text {
  padding: 2.2em 1.2em 1.5em;
  font-style: italic;
  border: 1px solid #e0e0e0;
  border-top: 2px solid #2eca7f;
  width: 100%;
  position: relative;
  margin: 0;
}

.testimonial-content .testimonial-text p {
  margin: 0;
}
