.image-bg {
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center center;
}

/* .featured-img-two {
  background-image: url(../images/extra-feature-bg.jpg);
} */

.dark-bg {
  background-color: #fff;
}

section {
  display: block;
}

.mh-blog .mh-blog-item {
  -webkit-box-shadow: 0px 10px 20px 4px #00000015;
  box-shadow: 0px 10px 20px 4px #00000015;
}

.mh-blog .mh-blog-item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mh-blog .mh-blog-item img {
  margin-bottom: 30px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}

.mh-blog .mh-blog-item .blog-inner {
  padding: 0px 20px;
  padding-bottom: 30px;
}

.mh-blog .mh-blog-item h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.mh-blog .mh-blog-item .blog-inner h2 a {
  color: #202026;
}

.mh-blog-post-info {
  margin-bottom: 10px;
}

.mh-blog-post-info ul li {
  display: inline-block;
  margin: 0 6px;
  margin-left: 0;
}

.mh-blog-post-info ul li strong {
  margin-right: 6px;
}

strong {
  font-weight: bolder;
}

.mh-blog .mh-blog-item .blog-inner a {
  color: #0bceaf;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #000;
  opacity: 0.9;
}

.mh-blog .mh-blog-item .blog-inner a {
  color: #0bceaf;
}

.section-title {
  margin-bottom: 20px;
}